/* CSS Rules */
.bass-me {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.third-cms-wrapper {
  background-color: white;
}

.third-cms-img {
  object-fit: cover;
  z-index: 0;
}

.third-cms-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-line;
  hyphens: auto;
  overflow: hidden;
}

.third-cms-text p {
  margin: 0.3rem 0.8rem 0 0.8rem;
  font-size: medium !important;
}

.hide {
  display: none;
}

/* Editing UI CSS  */
.third-cms-edit {
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #eeeeee;
  padding: 0.35rem;
  z-index: 1;

  box-shadow: 0px 5px 6px #44444465;
}

@media only screen and (orientation: portrait) {
  .third-cms-edit {
    flex-direction: column;
  }
}

.third-cms-edit button {
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: 0.65rem;

  /* Button Reset */
  background-color: #eeeeee;
  border: none;

  /* Centering Icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-clean {
  box-shadow: none;
}

.button-up {
  box-shadow: 3px 3px 7px #b3b3b3, -3px -3px 7px #ffffff;
  transition: 0.15s ease-in-out;
}

.button-up svg {
  fill: rgba(43, 43, 43, 0.55);
}

.button-down {
  box-shadow: inset 3px 3px 7px #b3b3b3, inset -3px -3px 7px #ffffff;
  transition: 0.15s ease-in-out;
}

.button-down svg {
  fill: rgba(216, 149, 149, 0.55);
}

.button-confirm svg {
  fill: #62a57ba9;
}

.third-cms-edit-icon {
  height: 70%;
  width: 70%;
}

/* NgClass Classes */
.cms-hide {
  display: none;
}

.cms-show {
  display: block;
}

/* ngClass Hack */
.background-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.background-transparent button {
  opacity: 0.85;
  box-shadow: 3px 3px 2px #44444465 !important;
}
